<footer id="footer" class="footer-container">
    <div class="footer">
        <div class="copyright">
            <p>copyright &copy; <%= current_year %> - PillMeter.com</p>
        </div>
    </div>
</footer>